#outerdiv {
    height: 200px;
    width: 70px;
    padding: 10px;
    border: 2px solid black;  
    background-color: black;  
}
#firstdiv {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
    background-color: red;
}
#seconddiv {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
    background-color: yellow;
}
#thirddiv {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
    background-color: green;
}